
{% extends "booking/base.html" %}
{% load static %}
{% block title %}Contact Us {% endblock %}
{% block content %}


<div class="row">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <h1>Contact Us Form</h1>
<form onsubmit="return sendMail(this);">
    <input type="text" name="name" class="form-control col-sm-10" id="fullname" placeholder="Name" required/>
    <input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email" required/>
    <textarea rows="5" name="message" class="form-control" id="message" placeholder="Questions" required></textarea>
    <button type="submit" class="btn btn-secondary center-block">Send Question</button>
</form>
</div>
</div>
{% endblock %}