{% extends "booking/base.html" %}

{% block content %}

<div class="container-xxl py-5 bg-dark hero-header">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white  ">Enjoy Our<br>Delicious Meal</h1>
                <p class="text-white   mb-4 pb-2">Indulge in the rich flavors of our exquisite cuisine, served in a warm and inviting atmosphere. From traditional favorites to daring new creations, our menu is sure to tantalize your taste buds. Join us for an unforgettable dining experience and discover why we're more than just a restaurant - we're a culinary journey.</p>
                <a href="{% url 'booking' %}" class="btn btn-primary py-sm-3 px-sm-5 me-3  ">Book A Table</a>
            </div>

        </div>
    </div>
</div>
{%endblock%}